# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Virtual Environments ---
venv/
env/
.env
.venv
bin/
include/
share/

# --- MLflow (Lokal) ---
# Kita mengabaikan mlruns karena eksperimen Advance sudah ada di DagsHub
mlruns/
mlartifacts/

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- System Files ---
.DS_Store
Thumbs.db

# --- Jupyter Notebook ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*